/* All styles for your header Components live here */


.header-container {
   display: flex;
   max-width: 650px;
}

.header-container img {
    width: 100%;
    padding-top: 5px;
    padding-right: 10px;
}

.header-title {
    display: flex;
}

.header-title h1 {
    font-size: 1.2rem;
    margin-right: 10px;
    padding: 10px 0;
}

.header-title p {
    align-self: center;
    color: gray;
}

.header-content {
    padding: 0 10px 10px 0;
    line-height: 1.5;
}