.basicButtonStyles {
    border: 1px solid rgb(128, 128, 128);
    height: 85px;
    width: 100px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basicButtonStyles:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.wide-key {
    width: 300px;
}

.action-keys-column {
    width: 75px;
    display: flex;
    flex-direction: column;
}

.action-key {
    background: darkred;
    color: white;
    align-self: flex-end;
    border: 1px solid rgb(128, 128, 128);
}

