.basicButtonStyles {
    border: 1px solid rgb(128, 128, 128);
    height: 85px;
    width: 100px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s linear;
}

.basicButtonStyles:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.wide-key {
    width: 300px;
}

.clear {
    font-size: 2.8rem;
    color: rgb(82, 78, 78);
    display: flex;
}

.action-key {
    background: rgb(58, 99, 146);
    color: white;
    align-self: flex-end;
    border: 1px solid rgb(128, 128, 128);
}

